:root {
    --headerColor: #4D4D4D;
    --crimson: #A60F2D;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    background-color: var(--headerColor);
}

.logo, .header-nav {
    
    padding: 10px; 
}


.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 15px;
    background-color: var(--headerColor);
}

.header-nav a {
    margin-left: 20px; 
    text-decoration: none;
    color: white;
    
}

.header-nav a:hover {
    text-decoration: underline;
}
.header-nav a:last-child {
    margin-right: 0;  /* Ensure the last link doesn't have extra margin on the right */
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #808080;
}

  article {
     grid-area: content;
    background-color: white;
    padding: 20px;
    z-index: 10;  /* Some value lower than the sidebar's z-index */
    position: relative;  /* Same as header and footer */
 
  }
  aside {
    grid-area: sidebar;
    background-color: #45aaf2;
    position: relative;  /* This is the key change */
}
  footer {
    padding: 20px;
    grid-area: footer;
    background-color: var(--headerColor);
    z-index: 10;  /* Some value lower than the sidebar's z-index */
    position: relative; 
  }
  .wrapper {
    position: relative;
    display: grid;
    grid-gap: 0px; 
    grid-template-columns: 250px 3fr;
    grid-template-areas: 
      "header  header"
      "sidebar content"
      "footer  footer";
    height: 100vh; /* 100% of the viewport height */
    grid-template-rows: auto 1fr auto; 
}

  @media (max-width: 500px) {
    .wrapper {
      grid-template-columns: 4fr;
      grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
    }
  }

  /* Styling the sidebar links */
aside ul {
    list-style-type: none;  /* Remove bullet points */
    padding: 0;
}

aside li {
    margin: 10px 0;  /* Space between each link */
}

aside a {
    color: #ffffff;  /* Text color for the links */
    text-decoration: none;  /* Remove underline */
    padding: 10px 15px;  /* Padding around each link */
    display: block;  /* Make each link take the full width of the li */
    background-color: black;  /* Background color for the links */
    border-radius: 5px;  /* Rounded corners for the links */
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

aside a:hover {
    background-color: black;  /* Change background color on hover */
}

/* Styling the sidebar */
#sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgb(78, 78, 78);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;  
    font-family: wsu-font;
}

.sidebar-image {
    max-width: 100%; /* Limit the image's width to 100% of its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center the image horizontally if the sidebar's width is fixed */
}

.sidebar-content {
    margin-top: 90px;  /* This value should be adjusted based on the height of the close button plus any desired spacing */
}

/* Styling the close button */
#closeSidebarBtn {
    position: absolute;  /* Positioning inside the sidebar */
    top: 20px;  /* Margin from the top */
    right: 20px;  /* Margin from the right */
    border: none;  /* Remove border */
    padding: 10px 20px;  /* Padding around the text */
    background-color: transparent;
    font-size: 16px;  /* Font size */
    cursor: pointer;  /* Change cursor to pointer on hover */
    border-radius: 5px;  /* Rounded corners */
    display: block;
}
#sidebar.closed #closeSidebarBtn {
    display: none; /* or any other color to indicate a different state */
}

.wrapper.collapsed {
    grid-template-columns: 50px 3fr;  /* Adjust the 50px value as per the desired width of the collapsed sidebar */
}

/* Hide the content when the sidebar is closed */
#sidebar.closed .sidebar-content {
    display: none;
}

#sidebar.closed #openSidebarBtn{
    display: block;
}

/* Positioning the menu button */
#openSidebarBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 10px;

}

#openSidebarBtn img {
    width: 20px;
    height: 20px;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* This ensures that the body takes up the full height of the viewport */
    width: 100%; /* This ensures that the body takes up the full width of the viewport */
    background-color: var(--headerColor); /*header to be the same color*/
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;       /* Remove margin */
    padding: 0;      /* Remove padding */
}

.logo img {
    height: 80px; 
    width: auto; 
    display: block;  /* Make the image a block-level element */
    margin: 0;       /* Remove margin */
    padding: 0;      /* Remove padding */
}

.WSU-style, li {
    font-size: 18px;
    font-family: WSU_Font;
    background-color: rgb(58, 58, 58);
}

.WSU-style-clear, li {
    font-size: 18px;
    font-family: WSU_Font;
    background-color: transparent;
}

.WSU-style-big, li {
    font-size: 48px;
    font-family: WSU_Font;
}

@font-face {
    font-family: 'WSU_Font'; /* Choose a name for your font */
    src: url('/static/fonts/myfont.woff') format('woff');
    /* You can provide additional file formats for browser compatibility (e.g., woff2, ttf) */
}
