<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="logo">
                <img src="{% static 'img/wsu.png' %}">
            </div>
          
            <nav class="header-nav">
                <a href="https://foundation.wsu.edu">GIVE</a>
                <a href="https://admission.wsu.edu/apply/">APPLY</a>
                <a href="https://wsu.edu/campuses/">LOCATIONS</a>
                <a href="https://my.wsu.edu">MY WSU</a>
            </nav>
        </header>
        <article>
          <h1>Welcome To VCEA Tutor</h1>
          {% block content %}{% endblock %}
          
        </article> 
        <aside id="sidebar">
            <button id="closeSidebarBtn">
               
                <img src="{% static 'img/closeButton.svg' %}" alt="Close Sidebar" width="20" height="20">
            </button>
             <!-- Menu button (Initially hidden) -->
            <button id="openSidebarBtn" style="display: none;">
                <img src="{% static 'img/menu.svg' %}" alt="Open Sidebar" width="20" height="20">
            </button>
            
            <div class="sidebar-content">
                
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Profile</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
        </div>
        </aside>
        <footer>Footer</footer>
      </div>
      

    <div id="content">
        <!-- This is the block where content from child templates will be inserted -->
        
    </div>
    <script src="{% static 'css/script.js' %}" defer></script>

</body>
</html>