{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    
    <style>
        .submit-button {
            margin-top: 20px; /* Adjust the value to your preference */
        }
    </style>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" action="{% url 'home' %}">

        {% csrf_token %}

        <div>
            {{ form.username.label_tag }}
        </div>
        <div>
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div>
            {{ form.password.label_tag }}
        </div>
        <div>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        <input type="submit" value="Login" class="submit-button">
    </form>

    <br>

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock %}
