{% extends 'base.html' %}

{% block content %}
    <h1 class = "WSU-style-clear">Login</h1>

    <form method="post">
        {% csrf_token %}

        <div class = "WSU-style-clear">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <br>
        <div class = "WSU-style-clear">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <br>

        <input type="submit" value="Login">
    </form>

    <br>

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>



{% endblock %}
